$('#employee_list').empty()
$('#employee_list').append(`<% result.each do |item| %>
                <tr>
                  <td><%=item.name+" "+item.surname%></td>
                  <td><%=item.roles%></td>
                  <td><%= item.task.where.not(status: 2).count %></td>
                  <td><%= item.task.where(status: 1).count %></td>
                </tr>
                <% end %>`)