<div class="container-fluid w-50">
  <div class="card-body" id="admin-user-add-card">
  <div class="form-group mt-3">
    <input type="text" class="form-control" id="input-fname-admin" placeholder="First name" />
    <p id="adminuser-first-name-error" class="text-danger"></p>
  </div>
  <div class="form-group mt-3">
    <input type="text" class="form-control" id="input-lname-admin" placeholder="Last name" />
    <p id="adminuser-last-name-error" class="text-danger"></p>
  </div>
  <div class="form-group mt-3">
    <input type="email" class="form-control" id="input-email-admin" placeholder="Email" />
    <p id="adminuser-email-error" class="text-danger"></p>
  </div>
  <div class="form-group mt-3">
    <input type="password" class="form-control" id="input-pass-admin" placeholder="Super Admin Password" />
    <p id="adminuser-pass-error" class="text-danger"></p>
  </div>
  <button type="button" class="btn btn-primary" id="add-admin-user-to-db">
    Add Admin User
  </button>
 </div>
</div>