// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-add-btn{
  --fa-primary-color: #30df53;
  --fa-secondary-color: #4bdd68;
  font-size: 2rem;

}

.h-35{
  height: 35rem;
}

.h-10{
  height: 10rem;
}
